/* Timeline container for scrollable view */
.timeline-container {
  height: 400px;
  padding-left: 1rem; 
  padding-top: 1rem;              
  overflow-y: auto; 
  border: 2px solid #5C4033;
  background-color: #F4E4C1;
  border-radius: 0.5rem;
  position: relative;
  padding-bottom: 1rem;
}



/* Event nodes */
.event-node {
  position: absolute;
  cursor: pointer;
  transition: transform 0.5s;
  opacity: 1; /* always visible */
  z-index: 20;
}

.event-node.scale-125 {
  transform: scale(1.25);
}

/* Circle of node */
.event-node .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}


.event-node:hover{
  transform: scale(1.1);
  z-index: 2;
}

/* Label below node */
.event-node .label {
  position: absolute;
  top: 28px;
  left: 50%;
  font-weight: bold !important;
  transform: translateX(-50%);
  font-size: 0.95rem;
  white-space: nowrap;
  background: #fff;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  z-index: 10; /* relative to the node */
  pointer-events: none;
}


/* Dialogue box */
.dialogue-box {
  position: fixed;
  max-width: 20rem;
  background-color: white;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #4a5568;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  z-index: 50;
}




.timeline-svg {
  overflow-y: visible !important;
}



