


body {
  font-family: 'MedievalSharp', cursive;
  color: #3b2f2f;

  background-image: url('./assets/background.jpeg'); /* your game homepage background */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}